@page "/loginControl"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b>User: @context.User.Identity.Name</b>

        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <input type="text"
               placeholder="Nombre Usuario"
               @bind="@NombreUsuario" />
        &nbsp;&nbsp;

        <input type="password"
               placeholder="Contraseña"
               @bind="@Contrasena" />

        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@encode(NombreUsuario)&paramPassword=@encode(Contrasena)"
           target="_top">Login</a>


    </NotAuthorized>
</AuthorizeView>

@code {

    string NombreUsuario = "";
    string Contrasena = "";

    private string encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }

}