<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">StudioEF</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>subMenuRegistro = !subMenuRegistro">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Registros<span class="carousel-item-right oi oi-chevron-bottom"></span>
            </NavLink>
            @if (subMenuRegistro)
            {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RUsuarios">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Usuarios
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RClientes">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Clientes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RFotografos">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Fotografos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RCategorias">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Categorias
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RArticulos">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Articulos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="REventos">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Eventos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RCompras">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Compras
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="RVentas">
                    <span class="oi oi-list" aria-hidden="true"></span> Registro Ventas
                </NavLink>
            </li>

        </ul>

            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>subMenuConsultas = !subMenuConsultas">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Consultas<span class="carousel-item-right oi oi-chevron-bottom"></span>
            </NavLink>

            @if (subMenuConsultas)
            {

        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Categorias">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Categorias
                </NavLink>

            </li>

            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Articulos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Articulos
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Compras">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Compras
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Clientes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Clientes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Eventos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Eventos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Fotografos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Fotografos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="expand-menu" href="C_Ventas">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Consulta Ventas
                </NavLink>
            </li>
        </ul>
        }

            </li>



        </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool subMenuRegistro;
    private bool subMenuConsultas;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
